<div class="app-header">
    <div class="app-header_navigation">
        <div class="app-header_logo">
            <img src="/content/images/acensi.png" alt="" routerLink='/profiles'>
        </div>
        <div class="app-header_navigation-cntr">
            <nav class="app-header_naviagtion-nav">
                <ul class="app-header_naviagtion-list">
                    <li class="app-header_navigation-item" data-toggle="tooltip" data-placement="right" title="Profils">
                        <a routerLink="/profiles" routerLinkActive="is-active"><i class="fa fa-search"></i></a>
                    </li>
                    <li class="app-header_navigation-item" data-toggle="tooltip" data-placement="right" title="Users">
                        <a routerLink="/users" routerLinkActive="is-active"><i class="fa fa-user"></i></a>
                    </li>
                    <!-- <li class="app-header_navigation-item" data-toggle="tooltip" data-placement="right" title="CV">
                            <a href="" routerLinkActive="is-active"><i class="fa fa-archive"></i></a>
                          </li> -->
  </ul>
</nav>
</div>
</div>
    <div class="app-header_preferences">
        <nav class="app-header_preferences-nav">
            <ul class="app-header_preferences-list">
                <li class="app-header_preferences-item">
                    <a href=""><i class="fa fa-gear"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
