$main: #005297;
$black: #1e1e1e;
$white: #f7f7f7;

.app-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  // width: 200px;
  width: 50px;

  background-color: $white;

  &.is-minified {
    width: 60px;
  }
}

.app-menu_preferences,
.app-menu_navigation {
  display: flex;
  flex-direction: column;
}

.app-menu_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 53.33px;
  width: 50px;

  background-color: $main;

  img {
    display: block;

    max-width: 38px;

    background-color: white;
  }
}

.app-menu_preferences-cntr,
.app-menu_navigation-cntr {
  display: flex;
  margin-top: 5px;

  width: 100%;
}

.app-menu_preferences-nav,
.app-menu_naviagtion-nav {
  display: flex;

  width: 100%;
}

.app-menu_preferences-list,
.app-menu_naviagtion-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  width: 100%;
}

.app-menu_preferences-item,
.app-menu_navigation-item {
  display: flex;

  height: 50px;
  width: 50px;

  font-size: 18px;
  color: rgba($black, 0.5);

  &:hover {
    background-color: rgba($main, 0.1);
    color: $black;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    text-decoration: none;
    text-transform: none;
    color: inherit;

    &.is-active {
      color: $main;
    }
  }
}
$main: #005297;
$black: #1e1e1e;
$white: #f7f7f7;

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  // width: 200px;
  width: 50px;

  background-color: $white;

  &.is-minified {
    width: 60px;
  }
}

.app-header_preferences,
.app-header_navigation {
  display: flex;
  flex-direction: column;
}

.app-header_logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 53.33px;
  width: 50px;

  background-color: $main;

  img {
    display: block;

    max-width: 38px;

    background-color: white;
  }
}

.app-header_preferences-cntr,
.app-header_navigation-cntr {
  display: flex;
  margin-top: 5px;

  width: 100%;
}

.app-header_preferences-nav,
.app-header_naviagtion-nav {
  display: flex;

  width: 100%;
}

.app-header_preferences-list,
.app-header_naviagtion-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  width: 100%;
}

.app-header_preferences-item,
.app-header_navigation-item {
  display: flex;

  height: 50px;
  width: 50px;

  font-size: 18px;
  color: rgba($black, 0.5);

  &:hover {
    background-color: rgba($main, 0.1);
    color: $black;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    text-decoration: none;
    text-transform: none;
    color: inherit;

    &.is-active {
      color: $main;
    }
  }
}
