<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span>Contact</span> {{ contact.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Link</span></dt>
                <dd>
                    <span>{{ contact.link }}</span>
                </dd>
                <dt><span>Source</span></dt>
                <dd>
                    <div *ngIf="contact.source">
                        <a [routerLink]="['/source', contact.source?.id, 'view']">{{ contact.source?.id }}</a>
                    </div>
                </dd>
                <dt><span>Profile</span></dt>
                <dd>
                    <div *ngIf="contact.profile">
                        <a [routerLink]="['/profile', contact.profile?.id, 'view']">{{ contact.profile?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
